<!DOCTYPE html>


<html>
   <h1>
       Art by Aditya Peri
   </h1>

   <nav>

     <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

         <li><a href="sass.html">Videos</a></li>
         <li><a href="sass.html">Portfolio</a></li>
         <li><a href="sass.html">Instagram</a></li>
         <li><a href="sass.html">Store</a></li>
         <li><a href="AboutMePage.html">About Me</a></li>      

     </div>

    </nav>

    <body>
        <p1>
            This is where your breif comments about yourself will go.
        </p1>
    </body>


     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>
