{% load staticfiles %}

<!DOCTYPE html>

<html>
   <h1>
       Art by Aditya Peri
   </h1>
   <head>
      <link rel="stylesheet" type="text/css" href="css/AboutMePage.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   </head>
   

   <nav>

     <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

         <li><a href="Videos.html">Videos</a></li>
         <li><a href="Portfolio.html">Portfolio</a></li>
         <li><a href="Instagram.html">Instagram</a></li>
         <li><a href="Store.html">Store</a></li>
         <li><a href="AboutMePage.html">About Me</a></li>      

     </div>

    </nav>

    <body>
        <h5 class="center-align"> description </h5>
    </body>
</html>
