{% load staticfiles %}
<script src="{% static 'js/index.js' %}"></script>

<html>
    <head>
        <title>Adi Buddy Art</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        
    </head>


    <body>
        <h1 id="page-title">Aditya Peri</h1>

        <div class="container">
            <div class="row">
                {% for post in posts%}

                    <div class="col-md-4">
                    <div class="image-post">
                        <div>
                            <img class="image" src="{{ post.imgURL }}">
                        </div>

                        <div class="caption-text">
                            {{ post.caption }}
                        </div class="date-text">
                            <div class="postedby-text">
                                Posted on {{ post.postedBy }}
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>


        <!-- Bootstrap is now enabled-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>


</html>