{% load staticfiles %}
<script src="{% static 'js/index.js' %}"></script>

<!DOCTYPE html>
<html>
   <h1 >
       Art by Aditya Peri
   </h1>

   <nav>

     <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

         <li><a href="sass.html">Videos</a></li>
         <li><a href="sass.html">Portfolio</a></li>
         <li><a href="sass.html">Instagram</a></li>
         <li><a href="sass.html">Store</a></li>
         <li><a href="AboutMePage.html">About Me</a></li>      

     </div>

       <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://www.google.com/search?q=tariq+trotter&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj26OHhkZXYAhWEdN8KHa8sAHkQ_AUICygC&biw=1440&bih=826#imgrc=IQ_EroIsBJ5iEM:"></a>
        <a class="carousel-item" href="#two!"><img src="https://www.google.com/search?q=tariq+trotter&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj26OHhkZXYAhWEdN8KHa8sAHkQ_AUICygC&biw=1440&bih=826#imgrc=IQ_EroIsBJ5iEM:"></a>
        <a class="carousel-item" href="#three!"><img src="https://www.google.com/search?q=tariq+trotter&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj26OHhkZXYAhWEdN8KHa8sAHkQ_AUICygC&biw=1440&bih=826#imgrc=IQ_EroIsBJ5iEM:"></a>
        <a class="carousel-item" href="#four!"><img src="https://www.google.com/search?q=tariq+trotter&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj26OHhkZXYAhWEdN8KHa8sAHkQ_AUICygC&biw=1440&bih=826#imgrc=IQ_EroIsBJ5iEM:"></a>
        <a class="carousel-item" href="#five!"><img src="https://www.google.com/search?q=tariq+trotter&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj26OHhkZXYAhWEdN8KHa8sAHkQ_AUICygC&biw=1440&bih=826#imgrc=IQ_EroIsBJ5iEM:"></a>
      </div>
      
   </nav>
        
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>